<header>
  <div id="logo">
    {% load static %}
    <a href="/">
      <img src="{% static 'img/logo.png' %}" alt="Logo" draggable="false" style="height: 50px" />
    </a>
  </div>
  <nav>
    {% if user.is_authenticated %}
    <a href="/pedidos/rutas/">Rutas</a>
    <a href="/pedidos/">Pedidos</a>
    <a href="{% url 'contactos' %}">Contacto</a>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Cerrar Sesión</button>
    </form>
    {% else %}
    <a href="{% url 'contactos' %}">Contacto</a>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
    {% endif %}
  </nav>
</header>

<!-- ver -->
