body {
    background-image: url('../img/fondologin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: 'Arial Black', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    width: 400px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  color: #3E3F5E;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #FFA800;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 175px;
}

.button {
    background-color: #FFA800;
    color: white;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

::placeholder {
    color: rgba(0, 0, 0, 0.4); 
    font-style: italic;
}

.form-campo {
    margin-bottom: 20px;
    width: 100%;
}

.success-box {
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    width: 420px;
    max-width: 90%;
    text-align: center;
    margin: 120px auto;
    font-family: 'Arial Black', sans-serif;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.success-box h2 {
    font-size: 24px;
    color: #3E3F5E;
    margin-bottom: 20px;
}

.success-box p {
    font-size: 16px;
    color: #444;
    margin-bottom: 25px;
}

.success-box .button {
    background-color: #FFA800;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}