body {
    background-image: url('../img/fondologin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    height: calc(100vh - var(--altura-nav));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 40px 10px;
    border-radius: 30px;
    width: 30%;
    max-width: 500px;
    height: auto;
    min-height: 40%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#titulo {
    text-transform: uppercase;
}

.flexear {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
}

form.flexear {
    height: 100%;
}

input {
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    padding: 6px;
    border: 2px solid #FFA800;
    border-radius: 4px;
}

#boton {
    box-sizing: border-box;
    background-color: #FFA800;  
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 170px;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-self: center;
    margin-top: auto;
}