body {
    background-image: url('../img/fondologin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: 'Arial black';
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    background-color: white;
    padding: 40px 10px;
    border-radius: 30px;
    /* position: fixed; */
    width: 28%;
    max-width: 500px;
    height: auto;
    min-height: 40%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*caja principal*/
.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    width: 350px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*titulo*/
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  color: #3E3F5E;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}

/*contenedor de imputs*/
.form-campo {
    margin-bottom: 25px;
    width: 100%;
}
/*campos de texto*/
input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    margin: 6px auto;
    border: 2px solid #FFA800;
}

/*botton iniciar sesion */
.button {
    box-sizing: border-box;
    background-color: #FFA800;  
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 170px;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
button.secondary {
    background-color: #B7B0B0;
    color: #ffffff;
    border: none;
    margin-top: 20px;
}
/*para poner transparente dentro del campo*/
::placeholder {
    color: rgba(0, 0, 0, 0.4); 
    font-style: italic;       
}