{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mensaje enviado</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/Contacto.css' %}">
</head>
<body>
  {% include "includes/navbar.html" %}

  <div class="success-box">
    <h2>¡Gracias por contactarnos!</h2>
    <p>Tu mensaje fue enviado con éxito.</p>
    <p>Te responderemos a la brevedad.</p>
    <a href="/" class="button">Volver al inicio</a>
  </div>
</body>
</html>